<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><strong>DC-Music-Playlist</strong></a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar" onclick="document.querySelector('#mainNavbar').classList.toggle('is-active');">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-start">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="navbar-item" href="/user/playlist/list">Playlists</a>
            {% endif %}
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="button is-info" href="/logout"><strong>Déconnexion</strong></a>
                    {% else %}
                        <a class="button is-info" href="/login"><strong>Connexion</strong></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="button is-warning" href="/admin"><strong>Administration</strong></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>