{% extends 'base.html.twig' %}

{% block title %}Musique {{ music.name }}{% endblock %}

{% block body %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container"><h1 class="title">Musique {{ music.name }}</h1></div>
            {% if return_playlist %}
                <a class="button is-black" href="/user/playlist/{{ return_playlist }}/show">Retour</a>
            {% endif %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ music.getVideoId() }}" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ music.name }}</p>
                    <span class="tag is-success">{{ music.category.name }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <!-- Comments -->
            {% for comment in music.comments %}
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ comment.user.name }}</strong> <small>{{ comment.date|date("d/m/Y") }}</small>
                                    <br>
                                    {{ comment.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Laisser un commentaire</h1>
                <form action="/user/music/{{ music.id }}/{{ return_playlist }}/comment" method="post">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" placeholder="Mon commentaire" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <input type="submit" value="Envoyer" class="button is-link"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
