{% extends 'base.html.twig' %}

{% block title %}Accueil DC-Music-Playlist{% endblock %}

{% block body %}
<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bienvenu sur DC-Music-Playlist
            </h1>
            <h2 class="subtitle">
                L'endroit où vous pouvez afficher vos gouts sans être espionné par les géants du numérique.
                <a class="button is-success" href="/login">Commencer</a>
            </h2>
        </div>
    </div>
</section>
{% endblock %}
