<footer class="footer has-background-dark has-text-light">
    <div class="content has-text-centered">
        <p>
            Site web réalisé et géré par <a href="https://dany-corbineau.fr" class="has-text-link"><strong>Dany CORBINEAU</strong></a>. Contact danycor2@hotmail.fr.
        </p>
        <p>
            Site construit avec <strong class="has-text-grey-lighter">Bulma</strong> par <a class="has-text-link" href="https://jgthms.com">Jeremy Thomas</a>
        </p>
    </div>
</footer>