{% extends 'base.html.twig' %}

{% block title %}Vos playlists DC-Music-Playlist{% endblock %}

{% block body %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container"><h1 class="title">Vos playlists</h1></div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="list is-hoverable">
                {% for playlist in playlists %}
                    <a class="list-item" href="{{ playlist.link }}">
                        {{  playlist.name }} <span class="tag is-info">{{ playlist.music_nb }} musics</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
