{% extends 'base.html.twig' %}

{% block title %}Playlist {{ playlist.name }}{% endblock %}

{% block body %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container"><h1 class="title">Playlist {{ playlist.name }}</h1></div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if canGenerate %}
            <a href="/user/playlist/{{ playlist.id }}/generateRelease" class="button is-success">Demander les musiques du jour</a>
        {% else %}
            <a class="button is-warning">Musiques déjà demandées</a>
        {% endif %}
        {% for released in releaseds %}
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        {{ released.date|date("d/m/Y") }}
                    </p>
                    <div class="list is-hoverable">
                        {% for music in released.musics %}
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://img.youtube.com/vi/{{ music.getVideoId() }}/0.jpg" alt="Image de la musique">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4"><a href="/user/music/{{ music.id }}/{{ playlist.id }}">{{ music.name }}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
