<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/style/bulma.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer/footer.html.twig' %}
        <script src="/script/jquery-3.4.1.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
